@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: hsl(254, 94%, 49%);
}

#column-2 {
  background: hsl(65, 76%, 51%);
}

#column-3 {
  background: hsl(0, 92%, 45%);
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #8A2BE2 ;
  }

  #column-1 {
    background-color: #000000 ;
  }

  #column-2 {
    background-color: #FF7F50 ;
  }

  #column-3 {
    background-color: #00FFFF ;
  }

  footer {
    background-color: #DC143C;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #006400 ;
  }

  #column-1 {
    background-color: #8B008B ;
  }

  #column-2 {
    background-color: #E9967A;
  }

  #column-3 {
    background-color: #FF1493;
  }

  footer {
    background-color: #DAA520 ;
  }
   
}
